$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import 'customize/partials/scss/vars';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'checkout/checkout';
@import 'customize/customize';
@import 'customize/partials/scss/cart';
@import 'customize/partials/scss/default-stick-colors';
@import 'customize/partials/scss/global';
@import 'customize/partials/scss/mixins';
@import 'customize/partials/scss/mobile';
@import 'customize/partials/scss/select-model';
@import 'customize/partials/scss/select-options';
@import 'customize/partials/scss/select-player';
@import 'customize/partials/scss/select-profile';
@import 'customize/partials/scss/select-review';
@import 'customize/partials/scss/typography';
@import 'main/main';
@import 'orders/orders';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */
