.pk1000-scene,
.pk1000-personalize {
  .svg-accent-segment {
    fill: #E4AD24;
  }

  .svg-shaft-segment {
    fill: #000;
  }

  .svg-logo-segment {
    fill: #fff;
  }
}

.pk100-scene,
.pk100-personalize {
  .svg-accent-segment {
    fill: #2bc0fc;
  }

  .svg-shaft-segment {
    fill: #2e3c59;
  }

  .svg-logo-segment {
    fill: #fff;
  }
}

.nova-k1-scene,
.nova-k1-personalize {
  .svg-accent-segment {
    fill: #fff;
  }

  .svg-shaft-segment {
    fill: #1b1c1c;
  }

  .svg-logo-segment {
    fill: #57c4cc;
  }
}

.alpha-rx1-scene {
  .svg-accent-segment {
    fill: #646757;
  }

  .svg-shaft-segment {
    fill: #262626;
  }

  .svg-logo-segment {
    fill: #fff;
  }
}
