.pk1000-scene {
  .svg-accent-segment {
    fill: #E4AD24;
  }

  .svg-shaft-segment {
    fill: #000;
  }

  .svg-logo-segment {
    fill: #fff;
  }
}

.pk100-scene {
  .svg-accent-segment {
    fill: #1f2555;
  }

  .svg-shaft-segment {
    fill: #f6f4ed;
  }

  .svg-logo-segment {
    fill: #f26c21;
  }
}

.nova-k1-scene {
  .svg-accent-segment {
    fill: #fff;
  }

  .svg-shaft-segment {
    fill: #1b1c1c;
  }

  .svg-logo-segment {
    fill: #57c4cc;
  }
}

.alpha-rx1-scene {
  .svg-accent-segment {
    fill: #646757;
  }

  .svg-shaft-segment {
    fill: #262626;
  }

  .svg-logo-segment {
    fill: #fff;
  }
}
