
html {
  box-sizing: border-box;
}

html, body, .app {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[ui-view] {
  height: $stageHeight;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.invalid {
  filter: saturate(20%);
  cursor: not-allowed;
}

.hidden-of {
  overflow: hidden !important;
}

.icon-button {
  cursor: pointer;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html,body,
.container-full,
.main-ui-view,
.gutter-column,
.row,
.gutter,
.player-actions,
.profile-actions,
.main-ui-row > div {
  height:100%;
}

.row {
  margin: 0 !important;
}

.content-wrap {
  padding: 65px 55px;
}

.menu-row {
  height: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 3px #ddd;
  padding: 1.4rem 2.2rem;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 2rem;

    li {
      margin: 0 2rem;
    }
  }
}

.main-ui-row > div {
  padding: 0;
}

.section-actions {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

// Debug

.debug {
  position: absolute;
  width: 100vw;
  height: 45px;
  background-color: rgba(0,0,0,.6);
  z-index: 100;
  bottom: 0;
  color: white;
  text-align: center;
  line-height: 45px;
}

