@media only screen and (max-width : 700px) {
  .mobile-nav {
    display: flex;
    line-height: 50px;
    background-color: $zealRed;
    color: white;

    li {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .content-wrap {
    padding: .75rem 2rem;
  }

  customize {
    flex-direction: column;

    .list-nav.gutter {
      display: none;
    }

    aside.gutter,
    ul.player-actions {
      height: auto;
    }

    .player-actions {
      > li {
        padding: 4rem 2rem;

        .section-actions {
          right: 15px;
          bottom: 15px;
        }
      }
    }

    .profile-actions {
      > li {
        h4 {
          font-size: 35px;
        }

        .profile-meta {
          ul > li:last-child {
            flex: 0;
          }
        }
      }
    }

    .west, .east {
      overflow: initial !important;
      position: initial;
    }

    .content-wrap.svg-canvas .options-stage-section {
      height: auto;
    }

    .options-svg-include {
      width: 100%;
      height: auto;
    }
  }

  // Typography
  section {
    .section-header {
      font-size: 32px;
    }
    .section-copy {
      font-size: 18px;
      margin: 20px 0;
    }
  }

  .mobile-stick-list {
    .category-label {
      line-height: 3rem;
      background-color: #111;
      color: white;
      padding: 4px 10px;
    }

    .stick-model-label {
      padding: 12px 18px;
      border: 1px solid #444;
    }

    li {
      overflow: auto;

      .stick-header {
        padding: 12px;
        margin-top: 12px;
        position: relative;

        > img {
          margin: 20px auto;
        }

        > i {
          color: #444;
          position: absolute;
          right: 10px;
          font-size: 36px;
          transform: rotate(90deg);
          top: 0;
        }
      }

      .mobile-stick-details {
        display: none;

        .stick-specs{
          display: flex;
          text-transform: uppercase;

          li {
            flex-basis: 25%;

            > p {
              font-weight: 700;
            }
          }
        }
      }

      &.selected {
        background-color: #b4b4b4;

        .stick-header {
          > i {
            color: white;
            transform: rotate(-90deg);
          }
        }

        .stick-model-label {
          background-color: #444444;
          color: white;
        }

        .mobile-stick-details {
          display: block;
          background-color: white;
          padding: 12px 12px 36px;

          .stick-description {
            margin: 12px 0 36px;
          }
        }
      }
    }
  }
}
