.svg-review {
  transform: scale(.9) rotate(45deg) translate(30%, 80%);
  position: relative;
  left: -90px;
}

table.stick-review {
  width: 100%;
  background-color: #fff;
  height: calc(100% - 50px);
  border-left: 1px solid #cccccc;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid #cccccc;

    td {
      padding: 0.6rem 1.2rem;
      font-size: 1.6rem;

      i.material-icons {
        color: rgba(0,0,0,.43);
        position: relative;
        top: 4px;
        font-size: 2rem;
        margin-left: 4px;
        cursor: pointer;
      }
    }

    td:last-child {
      text-transform: uppercase;
    }

    td:first-child {
      background-color: #e9e9e9;
      min-width: 50%;
      font-weight: 500;
      // vertical-align: top;
    }
  }
}

.colors-review {
  display: flex;

  .swatch {
    width: 30px;
    height: 30px;
    display: inline-block;
    // border: 1px solid #ddd;
    box-shadow: 0 1px 2px #888
  }

  h6 {
    text-transform: uppercase;
    margin: 0 0 .5rem;
  }

  > div {
    flex-basis: 33%;
    text-align: center;
  }
}

.player-name-review {
  text-transform: uppercase;

  h6 {
    color: #ddd;
  }

  span {
    font-weight: 500;
  }
}
