.review-button {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 2.4rem;
  font-weight: 500;
  border: 0;
  padding: 8px 24px;
  text-align: left;
  text-transform: uppercase;
  @include diagonalBackground(-45deg, #d61648, $zealRed, 2px, 4px);
  border-radius: 0;
  /*position: fixed;*/
  bottom: 0px;

  > span {
    flex: 1;
  }
  /*img {
    position: absolute;
    right: 15px;
    top: 14px;
  }*/
}

.options-svg-include {
  width: 100%;
  height: 100vh;
}

.checkout-button {
  @extend .review-button;
  position: relative;
  width: auto;
  display: inline-block;
}


.color-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  li {
    margin: 0.5rem;
  }

  li:first-child {
    margin-left: 0;
  }

  li > label {
    width: 30px;
    height: 30px;
    border-radius: 0;
    margin: 5px auto;
    border: 1px solid #222;
  }

  label.weave {
    @include weave(#444);
  }

  label.btn.active {
    background-image: url(/assets/images/icon_check.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }
}


uib-accordion {
  [uib-accordion-header] {
    .panel-open-indicator {
      float: right;
    }
  }

  .panel-open-indicator {
    transform: rotate(-90deg);
  }

  .panel-open .panel-open-indicator {
    transform: rotate(0deg);
  }

  header {
    text-transform: uppercase;
    // text-align: center;
  }

  a.accordion-toggle {
    display: inline-block;
    width: 100%;
    padding: 4px 0;
    outline: none;
    text-decoration: none;
    line-height: 24px;
  }

  .btn-group {
    width: 100%;
  }

  .btn-group.btn-switch {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-group > .btn:first-child {
    margin: auto;
  }

  .btn-stick-option {
    border-radius: 2px;
    margin: 10px 4rem;
    padding: 1.5rem 3.5rem;
    border: 2px solid #444444;
  }

  .btn-stick-option.active {
    background-color: #444444;
    color: white;
  }

  .panel-heading {
    border-radius: 0;
    background-image: linear-gradient(#eeeeee, #dddddd);
  }

  .panel-open .panel-heading {
    background-color: #777;
    color: white;
    background-image: none;
  }

  .panel-body {
    padding: 2rem 1.5rem 3.5rem;
  }

  input[type="text"] {
    border: 0;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
  }

  .personalize-input .panel-body {
    display: flex;

    .personalize-input-name,
    .personalize-input-number {
      display: flex;
      flex-direction: column;
      margin: 10px;

      label {
        font-weight: 500;
        // text-transform: uppercase;
        color: #333;
        margin-top: .5rem;
      }
    }
  }
}

.content-wrap.svg-canvas {
  padding: 0;

  h3 {
    position: absolute;
    padding-left: 2rem;
  }

  .options-stage-section {
    height: $stageHeight;
    display: flex;

    img {
      width: 70%;
      height: 70%;
      margin: auto;
    }
  }

  .options-stage-color {
    opacity: 1;
  }

  .options-stage-orientation {
    opacity: 1;

    &.left img {
      -moz-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }
  }

  .options-stage-pattern {
    opacity: 1;

    h4 {
      position: relative;
      left: -90px;
      color: #d1d1d1;
      text-shadow: 0 1px #fff;
      font-size: 2.5rem;
    }

    img {
      width: 100%;
      height: 100%;
      margin: auto;
      margin-bottom: -10%;
      margin-left: -20%;
    }

    .pattern-chart {
      max-width: 300px;
      width: 300px;
      position: absolute;
      right: 100px;
      background-color: #fff;
      border: 1px solid #ddd;
      font-size: 1.2rem;
      bottom: 40%;

      td {
        width: 50%;
        padding: 0 .75rem;
        border: 1px solid #ddd;

        h5 {
          text-transform: uppercase;
          color: #ddd;
        }
      }
    }
  }

  .options-stage-flex {
    opacity: 1;

    > img {
      height: 100%;
      width: auto;
      margin: auto;
    }
  }

  .options-stage-finish {
    opacity: 1;

    > img {
      width: 100%;
      height: 100%;
    }
  }

  .options-stage-personalize {
    opacity: 1;

    .personalize-widget {
      width: 100%;
      margin: auto;
      position: relative;

      > * {
        width: 100%;
      }

      .personalize-preview-text {
        // position: relative;
        // top: 46px;
        z-index: 10;
        font-size: 2.4rem;
        color: white;
        text-transform: uppercase;
        text-align: center;
        max-width: 400px;
        width: 100%;
        margin: auto;
        position: absolute;
        top: 10px;
        left: 267px;
        text-align: center;
      }
    }
  }
}

.scene-svg {
  width: 100%;
  height: $stageHeight;
  max-height: $stageHeight;
}

svg path,
svg polygon {
  transition: fill .4s ease;
}

// .svg-tall {
//   position: relative;
//   transform: scale(1.6) rotate(-55deg);
//   -webkit-filter: drop-shadow( 0 -1px 2px #888 );
//           filter: drop-shadow( 0 -1px 2px #888 ); /* Same syntax as box-shadow */
// }

// .svg-first-small {
//   transform: rotate(-55deg) scale(0.7) scaleX(-1) translate(10%, -120%);
//   -webkit-filter: drop-shadow( 0 -1px 2px #888 );
//           filter: drop-shadow( 0 -1px 2px #888 ); /* Same syntax as box-shadow */
// }

// .svg-second-small {
//   transform: rotate(125deg) scale(0.7) translate(-10%, -70%);
//   -webkit-filter: drop-shadow( 0 -1px 2px #888 );
//           filter: drop-shadow( 0 -1px 2px #888 ); /* Same syntax as box-shadow */
// }


svg {
  -webkit-filter: drop-shadow( 0 -1px 2px #888 );
          filter: drop-shadow( 0 -1px 2px #888 ); /* Same syntax as box-shadow */
}

// Slider Overrides
.rzslider .rz-pointer {
  background-color: $zealRed;
  outline: none !important;
}

.rzslider .rz-bar {
  background-color: #ddd;
}

.rzslider .rz-ticks .rz-tick {
  background-color: #bbb;
}
.rzslider .rz-pointer.rz-active:after {
  background-color: #fff;
}

.rzslider .rz-tick-value {
  font-size: 1rem;
}
