<div class="content-wrap svg-canvas active-option-{{customize.optionStage}}">
  <h3>Select the options for your {{customize.userStick.name}}</h3>
  <div ng-show="!customize.activeOption || customize.activeOption == 'color'" ng-if="customize.userStick.images" ng-init="svginclude = customize.userStick.images.root_path + customize.userStick.images.svg" class="options-stage-section options-stage-color">
    <div ng-include="svginclude" style="width: 100%; height: 100vh;"></div>
  </div>
  <div ng-show="customize.activeOption == 'orientation'" class="options-stage-section options-stage-orientation {{customize.userStick.orientation|lowercase}}">
    <h4 ng-if="!customize.userStick.orientation">Are you left or right handed?</h4>
    <img ng-if="customize.userStick.orientation" ng-srcset="assets/images/orientation/right.png 1x" alt="{{customize.userStick.orientation}} handed" />
  </div>
  <div ng-show="customize.activeOption == 'pattern'" class="options-stage-section options-stage-pattern">
    <img ng-srcset="assets/images/patterns/{{customize.userStick.pattern|lowercase}}.png 1x, assets/images/patterns/{{customize.userStick.pattern|lowercase}}@2x.png 2x" alt="{{customize.userStick.pattern}} Blade Pattern" />
    <table class="pattern-chart" ng-switch="customize.userStick.pattern">
      <tr>
        <td colspan="2">
          <h5>Utility</h5>
          <p ng-switch-when="Z39">Accuracy, Toe Drags, Puck Control</p>
          <p ng-switch-when="Z11">Wrist Shot, Puck Handling, Toe Drags</p>
          <p ng-switch-when="Z9C">Passing, Backhand Shots</p>
          <p ng-switch-when="ZM83">Rising Shots, Accurancy</p>
          <p ng-switch-when="Z20">Slap Shots, Toe Drags, Poke Checks</p>
          <p ng-switch-when="Z28">Snap Shots</p>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Compared</h5>
          <p ng-switch-when="Z39">P92, E3, P87a</p>
          <p ng-switch-when="Z11">P88, C40</p>
          <p ng-switch-when="Z9C">PM9, E4</p>
          <p ng-switch-when="ZM83">P91a, E6</p>
          <p ng-switch-when="Z20">P02, E5</p>
          <p ng-switch-when="Z28">P28, E28</p>
        </td>
        <td>
          <h5>Toe</h5>
          <p ng-switch-when="Z39">Round</p>
          <p ng-switch-when="Z11">Round &amp; Squared</p>
          <p ng-switch-when="Z9C">Round</p>
          <p ng-switch-when="ZM83">Round</p>
          <p ng-switch-when="Z20">Square</p>
          <p ng-switch-when="Z28">Round</p>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Curve</h5>
          <p ng-switch-when="Z39">Mid-Toe / Open</p>
          <p ng-switch-when="Z11">Mid / Slightly Open</p>
          <p ng-switch-when="Z9C">Mid-Heel / Wedge</p>
          <p ng-switch-when="ZM83">Heel / Wedge</p>
          <p ng-switch-when="Z20">Heel / Open</p>
          <p ng-switch-when="Z28">Very Open</p>
        </td>
        <td>
          <h5>Lie</h5>
          <p ng-switch-when="Z39">6</p>
          <p ng-switch-when="Z11">6</p>
          <p ng-switch-when="Z9C">5</p>
          <p ng-switch-when="ZM83">5.5</p>
          <p ng-switch-when="Z20">7</p>
          <p ng-switch-when="Z28">6 &amp; 5</p>
        </td>
      </tr>
    </table>
  </div>
  <div ng-show="customize.activeOption == 'flex'" class="options-stage-section options-stage-flex">
    <img ng-srcset="assets/images/flex/{{customize.userStick.orientation|lowercase}}/{{customize.userStick.flex}}.png 1x, assets/images/flex/{{customize.userStick.orientation|lowercase}}/{{customize.userStick.flex}}@2x.png 2x" alt="{{customize.userStick.flex}} Flex" />
  </div>
  <div ng-show="customize.activeOption == 'finish'" class="options-stage-section options-stage-finish">
    <h4 ng-if="!customize.userStick.finish">Choose a shaft coating</h4>
    <img ng-if="customize.userStick.finish" class="zoom" data-magnify-src="assets/images/coating/{{customize.userStick.finish}}@2x.png" ng-srcset="assets/images/coating/{{customize.userStick.finish}}.png 1x, assets/images/coating/{{customize.userStick.finish}}@2x.png 2x" alt="{{customize.userStick.finish}} Coating" />
  </div>
  <!-- <script>$('.zoom').magnify();</script> -->
  <div ng-show="customize.activeOption == 'personalize'" ng-init="persinclude = customize.userStick.images.root_path + customize.userStick.images.personalize" class="options-stage-section options-stage-personalize">
    <div class="personalize-widget">
      <ng-include src="persinclude|lowercase" style="width: 100%;"></ng-include>
      <div class="personalize-preview-text">&nbsp;{{customize.userStick.player.name}} {{customize.userStick.player.number}}&nbsp;</div>
    </div>
  </div>
</div>

<!-- <div class="production-disclaimer">
  <i class="material-icons">warning</i>
  Please note: ZEAL sticks are made to order, fully customized to your exact specifications.  Therefore
  production time ranges from 3 to 6 weeks.
</div> -->
