<div class="content-wrap">
  <ngcart-cart></ngcart-cart>
</div>
<script type="text/ng-template" id="template/ngCart/cart.html">
  <header class="cart-header">
    <h4>Your Shopping Cart</h4>
    <!-- <ngcart-checkout service="log" settings="{ url:'/checkout' }"></ngcart-checkout> -->
  </header>

  <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty
  </div>

  <table class="cart-table table-striped hidden-xs" ng-show="ngCart.getTotalItems() > 0">
    <tr>
      <th></th>
      <th>Cart Items</th>
      <th>Quantity</th>
      <th>Item Price</th>
      <th>Item Total</th>
    </tr>
    <tr ng-repeat="item in ngCart.getCart().items track by $index">
        <!-- <td><span ng-click="ngCart.removeItemById(item.getId())" class="material-icons icon-button">remove</span></td> -->
        <td><span class="material-icons icon-button" ng-click="ngCart.removeItemById(item.getId())">delete</span></td>
        <td>{{ item.getName() }}</td>
        <td>
          <span class="material-icons icon-button" ng-class="{'disabled':item.getQuantity()==1}"
                ng-click="item.setQuantity(-1, true)">remove</span>
            {{ item.getQuantity() | number }}
          <span class="material-icons icon-button" ng-click="item.setQuantity(1, true)">add</span></td>
        <td>{{ item.getPrice() | currency}}</td>
        <td>{{ item.getTotal() | currency }}</td>
    </tr>
    <tr class="tax-row">
      <td colspan="3"></td>
      <td>Tax ({{ ngCart.getTaxRate() }}%)</td>
      <td>{{ ngCart.getTax() | currency }}</td>
    </tr>
    <tr class="shipping-row">
      <td colspan="3"></td>
      <td>Shipping</td>
      <td>{{ ngCart.getShipping() | currency }}</td>
    </tr>
    <tr class="totals-row">
      <td colspan="3"></td>
      <td>Subtotal</td>
      <td>{{ ngCart.totalCost() | currency }}</td>
    </tr>
  </table>

  <div class="mobile-cart visible-xs">
    <div class="stick-in-cart-card" ng-repeat="item in ngCart.getCart().items track by $index">
      <div class="product-header">
        <span class="material-icons icon-button" ng-click="ngCart.removeItemById(item.getId())">delete</span>
        <div class="product-name">{{ item.getName() }}</div>
        <div class="product-price">{{ item.getPrice() | currency}}</div>
      </div>
      
      <!--<div class="product-total">{{ item.getTotal() | currency}}</div>-->
    </div>
    <div class="mobile-cart-totals">
      <div ng-if="ngCart.getTaxRate()" class="product-tax">
        <span class="mobile-cart-label"><strong>Tax:</strong> ({{ ngCart.getTaxRate() }}%)</span>
        <span class="mobile-cart-value">{{ ngCart.getTax() | currency }}</span>
      </div>
      <div class="product-shipping">
        <span class="mobile-cart-label"><strong>Shipping:</strong></span>
        <span class="mobile-cart-value">{{ ngCart.getShipping() | currency }}</span>
      </div>
      <div class="product-subtotal">
        <span class="mobile-cart-label"><strong>Total:</strong></span>
        <span class="mobile-cart-value">{{ ngCart.totalCost() | currency }}</span>
      </div>
    </div>
  </div>
  <div class="production-disclaimer">
    <i class="material-icons">warning</i>
    <span>
      Please note: ZEAL sticks are made to order, fully customized to your exact specifications. Therefore production time ranges from 3 to 6 weeks.
    </span>
  </div>
</script>
