<ul class="list-nav player-actions">
  <li ng-click="updateUserStick({'position': 'skater'});" ui-sref="customize.profile">
    <h4>Skater</h4>
    <img src="assets/images/sticks/pk/pk100_right_profile.png" style="max-width: 100%;">
    <div class="section-actions"><img src="assets/images/icon_arrow_fwd.svg" alt=""></div>
  </li>
  <li class="disabled">
    <h4>Goaltender</h4>
    <img src="assets/images/goaliestick-profile.png" style="max-width: 100%;">
    <div class="section-actions">Coming soon</div>
  </li>
</ul>
