<ul class="list-nav profile-actions">
  <li ng-click="customize.updateUserStick({'profile': 'senior'})" ui-sref="customize.model">
    <h4>Senior</h4>
    <div class="profile-meta">
      <ul>
        <li>
          <h6>Age</h6>
          <p>16+</p>
        </li>
        <li>
          <h6>Weight</h6>
          <p>150lb+</p>
        </li>
        <li>
          <h6>Height</h6>
          <p>5'8"+</p>
        </li>
        <li>
          <h6>&nbsp;</h6>
          <p><img src="/assets/images/icon_arrow_fwd.svg" alt=""></p>
        </li>
      </ul>
    </div>
  </li>
  <li class="dark-1" ng-click="customize.updateUserStick({'profile': 'intermediate'})" ui-sref="customize.model">
    <h4>Intermediate</h4>
    <div class="profile-meta">
      <ul>
        <li>
          <h6>Age</h6>
          <p>12 - 16</p>
        </li>
        <li>
          <h6>Weight</h6>
          <p>100 - 150lb+</p>
        </li>
        <li>
          <h6>Height</h6>
          <p>5' - 5'8"</p>
        </li>
        <li>
          <h6>&nbsp;</h6>
          <p><img src="/assets/images/icon_arrow_fwd.svg" alt=""></p>
        </li>
      </ul>
  </li>
  <li class="dark-2" ng-click="customize.updateUserStick({'profile': 'junior'})" ui-sref="customize.model">
    <h4>Junior</h4>
    <div class="profile-meta">
      <ul>
        <li>
          <h6>Age</h6>
          <p>8 - 12</p>
        </li>
        <li>
          <h6>Weight</h6>
          <p>50 - 100lb</p>
        </li>
        <li>
          <h6>Height</h6>
          <p>4' - 5'</p>
        </li>
        <li>
          <h6>&nbsp;</h6>
          <p><img src="/assets/images/icon_arrow_fwd.svg" alt=""></p>
        </li>
      </ul>
  </li>
  <li class="disabled dark-3">
    <span class="coming-soon">Coming soon...</span>
    <h4>Youth</h4>
    <div class="profile-meta">
      <ul>
        <li>
          <h6>Age</h6>
          <p>4 - 8</p>
        </li>
        <li>
          <h6>Weight</h6>
          <p>30 - 50lb</p>
        </li>
        <li>
          <h6>Height</h6>
          <p>3' - 4'</p>
        </li>
        <li>
          <h6>&nbsp;</h6>
          <p><img src="/assets/images/icon_arrow_fwd.svg" alt=""></p>
        </li>
      </ul>
  </li>
</ul>
