<!-- <div class="row menu-row">
  <img src="/assets/images/zeal-logo-sm.svg" alt="">
  <ul>
    <li>Sticks</li>
    <li>Customize</li>
    <li>Visors</li>
    <li>Apparel</li>
    <li>Training Aids</li>
    <li>Accessories</li>
    <li>Clearance</li>
  </ul>
</div> -->
<div class="row main-ui-row">
  <!-- <span class="debug">Stick Data: {{customize.userStick}}</span> -->
  <div class="col-md-1 gutter-column hidden-xs">
    <ul class="list-nav gutter">
      <li class="gutter-player" ng-class="{'active': customize.$state.includes('customize.player') || customize.$state.includes('customize.profile')}" ng-click="changeState('customize.player')">
        <img src="/assets/images/icon_player.svg" alt="">
        <span>Player Info</span>
      </li>
      <li class="gutter-stick" ng-class="{'active': customize.$state.includes('customize.model')}" ng-click="changeState('customize.profile')">
        <img src="/assets/images/icon_stick.svg" alt="">
        <span>Pick a Stick</span>
      </li>
      <li class="gutter-model" ng-class="{'active': customize.$state.includes('customize.options')}" ng-click="changeState('customize.model')">
        <img src="/assets/images/icon_customize.svg" alt="">
        <span>Customize</span>
      </li>
      <li class="gutter-review" ng-class="{'active': customize.$state.includes('customize.review')}" ng-click="changeState('customize.customize')">
        <img src="/assets/images/icon_review.svg" alt="">
        <span>Review</span>
      </li>
      <li class="gutter-checkout" ng-class="{'active': customize.$state.includes('customize.cart')}" ng-click="changeState('customize.cart')">
        <img src="/assets/images/icon_cart.svg" alt="">
        <span>Checkout</span>
      </li>
    </ul>
  </div>
  <div class="visible-xs-block mobile-header-nav">
    <ul class="mobile-nav">
      <li>Player Info</li>
      <li>Pick a Stick</li>
      <li>Customize</li>
      <li>Review</li>
    </ul>
  </div>
  <div class="col-md-{{stageLeftSpan || 6}} stage-left" ui-view="stage-left" ng-class="{'hidden-of': customize.$state.includes('customize.options')}"></div>
  <div class="col-md-{{stageRightSpan || 5}} stage-right" ui-view="stage-right" ng-class="{'shadowed': customize.$state.includes('customize.options')}"></div>
</div>
