$border-color: #c8c8c8;
$active-bg: #f5f8fc;
$active-color: #52a6e1;
$anim: cubic-bezier(0.215, 0.610, 0.355, 1.00);
$error-bg: #feeeee;
$error-color: darken($error-bg, 35);
$goodGreen: #64d18a;

#checkout-form {
  background-color: #f1f1f1;
  padding: 2rem;
}

.checkout-form-container {

  input {
    margin: .4rem 0;
  }

  .ng-valid-required {
    border: 1px solid $goodGreen;
  }

  display: flex;
  flex-direction: row;

  > div {
    width: 100%;
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 3rem;
    color: #e8124a;
  }

  h4 {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 15px;
    color: #999;
  }

  .form-area {
    margin: 2rem auto;
  }

  button {
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
      color: white;
      box-shadow: 0 1px 4px #888;
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}

.hosted-field {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

.hosted-fields--label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.button-container {
  display: block;
  text-align: center;
}

.button {
  cursor: pointer;
  font-weight: 500;
  line-height: inherit;
  position: relative;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
}

.button--small {
  padding: 10px 20px;
  font-size: 0.875rem;
}

.button--green {
  outline: none;
  background-color: #64d18a;
  border-color: #64d18a;
  color: white;
  transition: all 200ms ease;
}

.button--green:hover {
  background-color: #8bdda8;
  color: white;
}

.braintree-hosted-fields-focused {
  border: 1px solid $goodGreen;
  border-radius: 1px;
  background-position: left bottom;
}

.braintree-hosted-fields-invalid {
  border: 1px solid #ed574a;
}

.braintree-hosted-fields-valid {
}

#cardForm {
  max-width: 50.75em;
  /* margin: 0 auto; */
  padding: 1.875em;
}
